In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
data = pd.read_csv("intensity_data_sushmitha.tsv", delimiter="\t")
data.head()

   intensity  day_of_week  month  day  hour  minute
0   0.762617            5      3    3    12      24
1   0.720629            5      3    3    12      39
2   0.671953            5      3    3    14       9
3   0.709660            5      3    3    14      24
4   0.693077            2      3    7    16       0

In [20]:
uncommon_week_monday = data[(data["month"] == 4) & (data["day"] == 1)]
print(uncommon_week_monday)

     intensity  day_of_week  month  day  hour  minute
310   0.686097            6      4    1     8      30
311   0.682033            6      4    1     8      45
312   0.720104            6      4    1     9      30
313   0.693405            6      4    1     9      45
314   0.713629            6      4    1    10      30
315   0.679116            6      4    1    10      45
316   0.690253            6      4    1    11      15
317   0.669073            6      4    1    11      45
318   0.683595            6      4    1    12       0
319   0.684715            6      4    1    12      15
320   0.672012            6      4    1    12      45
321   0.675065            6      4    1    13       0
322   0.715897            6      4    1    13      15
323   0.673427            6      4    1    13      30
338   0.676305            6      4    1    14       0